


h1  {
  color: white;
  background-color: purple;


}

p {

  background-color: purple;
  color: fuchsia;
}


body {

    background-color: purple;
    color: black;

  }


ul  {

  background-color: silver;
}
